


.intro-section{
  position: relative;
  min-height:110vh;
  margin-top:-188px;
  .main-container-px20{
    padding-top:288px;
    padding-bottom:200px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    .banner-container {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .preheading {
        color: rgb(255, 255, 255);
        font-weight: 600;
        text-transform: uppercase;
        font-family: Objective, sans-serif;
        font-size: 12px;
      }
      .heading {
        color: white;
        line-height: 1.35;
        margin-bottom: 1.5rem;
        font-size: 2.125rem;
        letter-spacing: -0.05em;
        font-weight: 500;
        font-family: Objective, sans-serif;
      }
      .subheading {
        color: rgba(255, 255, 255, 0.9);
        font-family: Objective, sans-serif;
        font-size: 12px;
        margin-bottom: 34px;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.75;
      }
      .buttons {
        display: flex;
        a {
          text-decoration: none;
          color: white;
          letter-spacing: 0;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 12px;
          padding: 15px 22px;
        }
        .btn-check {
          background-color: var(--MW-btn-color-background);
          border: 1px solid var(--MW-btn-color-border);
          color: var(--MW-btn-color);
          &:hover {
            background-color: var(--MW-btn-color-background-hover);
            border: 1px solid var(--MW-btn-color-border-hover);
            color: var(--MW-btn-color-hover);
          }
        }
      }
    }
    .ask-us-container {
      display: flex;
      justify-content: end;
      width: 50%;
      position: relative;
      
      @media (max-width: 992px) {
        display: none;
      }
      .form {
        position: absolute;
        top: 0;
        right: 0;
        width: 400px;
        background-color: var(--MW-form-background);
        padding: 40px;
        border-top: 4px solid var(--MW-color-const-1);
        .wpcf7 {
          form {
            .wpcf7-response-output {
              padding: 10px 10px;
              margin: 23px 0 1em 0;
              color: var(--MW-form-h4);
              font-family: "Trebuchet MS", "Lucida Sans Unicode",
                "Lucida Grande", "Lucida Sans", Arial, sans-serif;
            }
          }
        }
        h4 {
          margin-top: 0;
          color: var(--MW-form-h4);
          line-height: 1.35;
          font-weight: 600;
          font-family: Objective, sans-serif;
        }
        label {
          color: #6c757d;
          font-size: 13px;
          font-weight: 400;
          font-family: Objective, sans-serif;
        }
        .form-group {
          .input-group {
            border: 1px solid #dee2e6;
            margin-top: 7px;
            margin-bottom: 13px;
            transition: 0.2s;
            display: flex;
            &:focus-within {
              border: 1px solid var(--MW-form-input-border-hover);
              i {
                color: var(--MW-form-input-border-hover);
              }
            }
            i {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 2px;
              text-align: center;
              width: 40px;
              margin-right: 5px;
              color: #6c757d;
              transition: 0.2s;
            }
            .fa-comments {
              align-items: start;
            }
            input {
              caret-color: var(--MW-form-h4);
              line-height: 18px;
              width: 98%;
              background-color: transparent;
              color: var(--MW-form-input-color);
              border: 0;
              padding: 13px 0;
              font-size: 13px;
              font-family: "Trebuchet MS", "Lucida Sans Unicode",
                "Lucida Grande", "Lucida Sans", Arial, sans-serif;
              &:focus {
                outline: none;
              }
            }

            .wpcf7-not-valid-tip {
              position: absolute;
              margin-top: 5px;
              right: -50px;;
              font-family: "Trebuchet MS", "Lucida Sans Unicode",
                "Lucida Grande", "Lucida Sans", Arial, sans-serif;
            }
          }
          .input-group-textarea {
            .wpcf7-form-control-wrap {
              margin: 10px 0;
              .wpcf7-not-valid-tip{
                margin-top: 15px;
              }
            }
            i {
              margin-top: 12px;
            }
            .input:-internal-autofill-selected{
              background-color: red;
            }
            textarea {
              height: 18px;
              line-height: 18px;
              font-family: "Trebuchet MS", "Lucida Sans Unicode",
                "Lucida Grande", "Lucida Sans", Arial, sans-serif;
              font-size: 13px;
              color: var(--MW-form-input-color);
              background-color: transparent;
              width: 97%;
              border: 0;
              overflow: hidden;
              resize: none;

              &:focus {
                outline: none;
              }
            }
          }
        }
        .button-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 10px;
          .btn-send {
            border: 1px solid var(--MW-btn-color-border);
            padding: 15px 25px;
            background-color: var(--MW-btn-color-background);
            color: var(--MW-btn-color);
            cursor: pointer;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;
            color: white;
            &:hover {
              color: var(--MW-btn-color-hover);
              background-color: var(--MW-btn-color-background-hover);
              border: 1px solid var(--MW-btn-color-border-hover);
            }
          }
          .wpcf7-spinner {
            background-color: var(--MW-color-const-1);
            margin:0;
          }
        }
      }
      .call-us {
        margin-bottom: 0;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: orange;
        }
        .call-us-text {
          color: var(--MW-form-input-color);
          font-family: "Poppins", Arial;
          padding-left: 10px;
        }
        a {
          color: var(--MW-form-input-color);
          text-decoration: none;
          padding-left: 10px;
        }
      }
    }
  }
  @media(max-width:1200px){
    margin-top:-94px;
    min-height:90vh;
    padding-bottom:40px;
    .main-container-px20{
      padding-top:157px;
      padding-bottom:40px;
    }
  }
  @media(max-width:992px){
    min-height:40px;
    padding-bottom:50px;
  }
  .bg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 1;
  }
    .bg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    z-index: 0;
    img{
      width:100%;
      height:100%;
      object-fit: cover;
      object-position: top;
    }
  }
}

.banner-section {
  @media (max-width: 992px) {

  }
  position: relative;
  width: 100%;
  margin-top: -112px;
  min-height: 80vh;

  .bg-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .bg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #212529;
    opacity: 0.55;
    z-index: 10;
  }
  .main-container-px20 {
    position: absolute;
    top: calc(20% + 94px);
    bottom: 20%;
    left: 0;
    right: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 992px) {
      display: flex;
      justify-content: center;
    }
    .banner-container {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .preheading {
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        font-family: Objective, sans-serif;
        font-size: 12px;
      }
      .heading {
        color: white;
        line-height: 1.35;
        margin-bottom: 1.5rem;
        font-size: 2.125rem;
        letter-spacing: -0.05em;
        font-weight: 500;
        font-family: Objective, sans-serif;
      }
      .subheading {
        color: rgba(255, 255, 255, 0.9);
        font-family: Objective, sans-serif;
        font-size: 12px;
        margin-bottom: 34px;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.75;
      }
      .buttons {
        display: flex;
        a {
          text-decoration: none;
          color: white;
          letter-spacing: 0;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 12px;
          padding: 15px 22px;
        }
        .btn-check {
          background-color: var(--MW-btn-color-background);
          border: 1px solid var(--MW-btn-color-border);
          color: var(--MW-btn-color);
          &:hover {
            background-color: var(--MW-btn-color-background-hover);
            border: 1px solid var(--MW-btn-color-border-hover);
            color: var(--MW-btn-color-hover);
          }
        }
      }
    }
    .ask-us-container {
      @media (max-width: 992px) {
        display: none;
      }
      .form {
        width: 400px;
        background-color: var(--MW-form-background);
        padding: 40px;
        border-top: 4px solid var(--MW-color-const-1);
        .wpcf7 {
          form {
            .wpcf7-response-output {
              padding: 10px 10px;
              margin: 23px 0 1em 0;
              color: var(--MW-form-h4);
              font-family: "Trebuchet MS", "Lucida Sans Unicode",
                "Lucida Grande", "Lucida Sans", Arial, sans-serif;
            }
          }
        }
        h4 {
          margin-top: 0;
          color: var(--MW-form-h4);
          line-height: 1.35;
          font-weight: 600;
          font-family: Objective, sans-serif;
        }
        label {
          color: #6c757d;
          font-size: 13px;
          font-weight: 400;
          font-family: Objective, sans-serif;
        }
        .form-group {
          .input-group {
            border: 1px solid #dee2e6;
            margin-top: 7px;
            margin-bottom: 13px;
            transition: 0.2s;
            display: flex;
            &:focus-within {
              border: 1px solid var(--MW-form-input-border-hover);
              i {
                color: var(--MW-form-input-border-hover);
              }
            }
            i {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 2px;
              text-align: center;
              width: 40px;
              margin-right: 5px;
              color: #6c757d;
              transition: 0.2s;
            }
            .fa-comments {
              align-items: start;
            }
            input {
              caret-color: var(--MW-form-h4);
              line-height: 18px;
              width: 98%;
              background-color: transparent;
              color: var(--MW-form-input-color);
              border: 0;
              padding: 13px 0;
              font-size: 13px;
              font-family: "Trebuchet MS", "Lucida Sans Unicode",
                "Lucida Grande", "Lucida Sans", Arial, sans-serif;
              &:focus {
                outline: none;
              }
            }

            .wpcf7-not-valid-tip {
              position: absolute;
              margin-top: 5px;
              right: -50px;;
              font-family: "Trebuchet MS", "Lucida Sans Unicode",
                "Lucida Grande", "Lucida Sans", Arial, sans-serif;
            }
          }
          .input-group-textarea {
            .wpcf7-form-control-wrap {
              margin: 10px 0;
              .wpcf7-not-valid-tip{
                margin-top: 15px;
              }
            }
            i {
              margin-top: 12px;
            }
            .input:-internal-autofill-selected{
              background-color: red;
            }
            textarea {
              height: 18px;
              line-height: 18px;
              font-family: "Trebuchet MS", "Lucida Sans Unicode",
                "Lucida Grande", "Lucida Sans", Arial, sans-serif;
              font-size: 13px;
              color: var(--MW-form-input-color);
              background-color: transparent;
              width: 97%;
              border: 0;
              overflow: hidden;
              resize: none;

              &:focus {
                outline: none;
              }
            }
          }
        }
        .button-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 10px;
          .btn-send {
            border: 1px solid var(--MW-btn-color-border);
            padding: 15px 25px;
            background-color: var(--MW-btn-color-background);
            color: var(--MW-btn-color);
            cursor: pointer;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;
            color: white;
            &:hover {
              color: var(--MW-btn-color-hover);
              background-color: var(--MW-btn-color-background-hover);
              border: 1px solid var(--MW-btn-color-border-hover);
            }
          }
          .wpcf7-spinner {
            background-color: var(--MW-color-const-1);
          }
        }
      }
      .call-us {
        margin-bottom: 0;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: orange;
        }
        .call-us-text {
          color: var(--MW-form-input-color);
          font-family: "Poppins", Arial;
          padding-left: 10px;
        }
        a {
          color: var(--MW-form-input-color);
          text-decoration: none;
          padding-left: 10px;
        }
      }
    }
  }
}

.services-section {
  background-color: var(--second-color);
  .main-container-px20 {
    .services-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 60px 0 0 0;
      h1 {
        text-align: center;
        line-height: 1.5;
        color: var(--MW-form-h4);
        font-family: Objective, sans-serif;
        font-weight: 500;
        font-size: 1.625rem;
      }
      p {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.75;
        color: var(--MW-p-text);
        max-width: 500px;
        text-align: center;
        margin-top: 0;
      }
    }
    .services-image {
      text-align: center;
      img {
        max-width: 100%;
      }
    }
  }
  .main-container {
    padding: 40px 0 60px 0;
    display: flex;
    flex-wrap: wrap;
    .icon-box-container {
      width: 25%;
      @media (max-width: 992px) {
        width: 50%;
      }
      @media (max-width: 576px) {
        width: 100%;
      }

      .icon-box {
        text-align: center;
        padding: 20px;
        .icon-box-icon {
          transition: 0.2s;
          i {
            color: var(--MW-color-const-1);
          }
        }
        .icon-box-title {
          transition: 0.2s;
          h2 {
            color: var(--MW-form-h4);
            margin: 0;
            font-size: 14px;
            font-family: "Poppins", Arial;
            font-weight: 600;
            line-height: 50px;
          }
        }
        .icon-box-content {
          display: flex;
          justify-content: center;
          p {
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
              "Lucida Sans", Arial, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.75;
            color: var(--MW-p-text);
            max-width: 500px;
            text-align: center;
            margin-top: 0;
          }
        }
        &:hover {
          .icon-box-icon {
            transition: 0.2s;
            margin-top: -20px;
          }
          .icon-box-title {
            transition: 0.2s;
            padding-top: 20px;
          }
        }
      }
    }
  }
}

.portfolio-section {
  background-color: var(--third-color);
  padding-top: 60px;
  padding-bottom: 16px;
  .main-container-px20 {
    flex-wrap: wrap;
    display: flex;
    .services-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      h1 {
        line-height: 1.5;
        color: var(--MW-form-h4);
        font-family: Objective, sans-serif;
        font-weight: 500;
        font-size: 1.625rem;
      }
      p {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.75;
        color: var(--MW-p-text);
        max-width: 500px;
        margin-top: 0;
        text-align: center;
      }
    }
    .quote {
      max-width: 800px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      align-items: start;
      
      i {
        font-size: 30px;
        padding-right: 40px;
        color: var(--MW-color-const-1);
      }
      p {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.75;
        color: var(--MW-form-h4);
        text-align: left;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }
    }
  }
  .main-container {
    .container-portfolio-projects {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .portfolio-project {
        width: calc(100% / 3);
        display: flex;
        justify-content: center;
        @media (max-width: 768px) {
          width: 50%;
        }
        @media (max-width: 576px) {
          width: 100%;
        }
        .single-project {
          margin: 20px;
          .card {
            text-decoration: none;
            background: green;
            .card-img-top {
              @media(max-width:576px){
                height:160px;
              }
              transition: 0.2s;
              height: 220px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.2s;
              }
            }
            .card-body {
              padding-left: 30px;
              padding-right: 30px;
              padding-bottom: 30px;
              .card-title {
                padding-top: 15px;
                margin: 0;
                font-size: 14px;
                font-family: "Poppins", Arial;
                font-weight: 600;
                line-height: 50px;
                color: var(--MW-form-h4);
              }
              .card-text {
                font-family: "Trebuchet MS", "Lucida Sans Unicode",
                  "Lucida Grande", "Lucida Sans", Arial, sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.75;
                color: var(--MW-p-text);
                margin-top: 0;
              }
            }
            &:hover {
              .card-img-top {
                padding-bottom: 3px;
                margin-top: -3px;
                transition: 0.2s;
                img {
                  transition: 0.2s;
                  box-shadow: 0 1rem 2rem -1rem black;
                }
              }
            }
          }
        }
      }
    }
  }
}

.section-our-techonologies {
  background-color: var(--first-color);
  padding-top: 60px;
  padding-bottom: 60px;
  .main-container-px20 {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      line-height: 1.5;
      color: white;
      font-family: Objective, sans-serif;
      font-weight: 500;
      font-size: 22px;
      text-align: center;
    }
    p {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.75;
      color: var(--MW-p2-text);
      max-width: 500px;
      margin-top: 0;
      text-align: center;
      padding-bottom: 60px;
    }

    * {
      margin: 0;
      padding: 0;
      outline: none;
      border: none;
      box-sizing: border-box;
    }
    *:before,
    *:after {
      box-sizing: border-box;
    }
    html,
    body {
      min-height: 100%;
    }
    body {
      background-image: radial-gradient(mintcream 0%, lightgray 100%);
    }
    h1 {
      display: table;
      margin: 5% auto 0;
      text-transform: uppercase;
      font-family: "Anaheim", sans-serif;
      font-size: 4em;
      font-weight: 400;
      text-shadow: 0 1px white, 0 2px black;
    }
    .container {
      margin: 4% auto;
      width: 210px;
      height: 140px;
      position: relative;
      perspective: 1000px;
      @media (max-width: 700px) {
        width: 140px;
      }
      @media (max-width: 420px) {
        width: 110px;
      }
      @media (max-width: 350px) {
        width: 100px;
      }
    }
    #carousel {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      animation: rotation 20s infinite linear;
    }
    #carousel:hover {
      animation-play-state: paused;
    }
    #carousel figure {
      display: block;
      position: absolute;
      width: 186px;
      height: 116px;
      left: 10px;
      top: 10px;
      background: black;
      overflow: hidden;
      border: solid 2px black;
      @media (max-width: 700px) {
        width: 109px;
        height: 93px;
      }
      @media (max-width: 420px) {
        width: 96px;
        height: 70px;
      }
      @media (max-width: 350px) {
        width: 80px;
        height: 65px;
      }
    }
    #carousel figure img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    #carousel figure:nth-child(1) {
      transform: rotateY(0deg) translateZ(288px);
      @media (max-width: 700px) {
        transform: rotateY(0deg) translateZ(160px);
      }
      @media (max-width: 420px) {
        transform: rotateY(0deg) translateZ(140px);
      }
      @media (max-width: 350px) {
        transform: rotateY(0deg) translateZ(120px);
      }
    }
    #carousel figure:nth-child(2) {
      transform: rotateY(40deg) translateZ(288px);
      @media (max-width: 700px) {
        transform: rotateY(40deg) translateZ(160px);
      }
      @media (max-width: 420px) {
        transform: rotateY(40deg) translateZ(140px);
      }
      @media (max-width: 350px) {
        transform: rotateY(40deg) translateZ(120px);
      }
    }
    #carousel figure:nth-child(3) {
      transform: rotateY(80deg) translateZ(288px);
      @media (max-width: 700px) {
        transform: rotateY(80deg) translateZ(160px);
      }
      @media (max-width: 420px) {
        transform: rotateY(80deg) translateZ(140px);
      }
      @media (max-width: 350px) {
        transform: rotateY(80deg) translateZ(120px);
      }
    }
    #carousel figure:nth-child(4) {
      transform: rotateY(120deg) translateZ(288px);
      @media (max-width: 700px) {
        transform: rotateY(120deg) translateZ(160px);
      }
      @media (max-width: 420px) {
        transform: rotateY(120deg) translateZ(140px);
      }
      @media (max-width: 350px) {
        transform: rotateY(120deg) translateZ(120px);
      }
    }
    #carousel figure:nth-child(5) {
      transform: rotateY(160deg) translateZ(288px);
      @media (max-width: 700px) {
        transform: rotateY(160deg) translateZ(160px);
      }
      @media (max-width: 420px) {
        transform: rotateY(160deg) translateZ(140px);
      }
      @media (max-width: 350px) {
        transform: rotateY(160deg) translateZ(120px);
      }
    }
    #carousel figure:nth-child(6) {
      transform: rotateY(200deg) translateZ(288px);
      @media (max-width: 700px) {
        transform: rotateY(200deg) translateZ(160px);
      }
      @media (max-width: 420px) {
        transform: rotateY(200deg) translateZ(140px);
      }
      @media (max-width: 350px) {
        transform: rotateY(200deg) translateZ(120px);
      }
    }
    #carousel figure:nth-child(7) {
      transform: rotateY(240deg) translateZ(288px);
      @media (max-width: 700px) {
        transform: rotateY(240deg) translateZ(160px);
      }
      @media (max-width: 420px) {
        transform: rotateY(240deg) translateZ(140px);
      }
      @media (max-width: 350px) {
        transform: rotateY(240deg) translateZ(120px);
      }
    }
    #carousel figure:nth-child(8) {
      transform: rotateY(280deg) translateZ(288px);
      @media (max-width: 700px) {
        transform: rotateY(280deg) translateZ(160px);
      }
      @media (max-width: 420px) {
        transform: rotateY(280deg) translateZ(140px);
      }
      @media (max-width: 350px) {
        transform: rotateY(280deg) translateZ(120px);
      }
    }
    #carousel figure:nth-child(9) {
      transform: rotateY(320deg) translateZ(288px);
      @media (max-width: 700px) {
        transform: rotateY(320deg) translateZ(160px);
      }
      @media (max-width: 420px) {
        transform: rotateY(320deg) translateZ(140px);
      }
      @media (max-width: 350px) {
        transform: rotateY(320deg) translateZ(120px);
      }
    }

    img {
      cursor: pointer;
      transition: all 0.5s ease;
    }
    img:hover {
      -webkit-filter: grayscale(0);
      transform: scale(1.2, 1.2);
    }

    @keyframes rotation {
      from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(360deg);
      }
    }
  }
}
