.*
!.gitlab-ci.yml
!.gitignore
!.babelrc

wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-config.php

web.config
wp-config.env.php

node_modules/
bower_components/

/vendor
/wp-content/themes/*/application/vendor