/* Main column width */
.wp-block {
    max-width: 80%;
    
    .container:before, .container:after {
        content: " ";
        display: table;
    }
    .container:after {
        clear: both;
    }

    @import "variables/bootstrap";
    @import "variables/colors";

}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1080px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

.components-autocomplete {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5em;
}

#adminmenu li.wp-menu-separator {
    border-bottom: 2px solid #4d5052;
    padding: 0;
    margin: 0;
    height: 0;
}

td.column-employee {
    display: flex;
    align-items: center;

    img {
        border-radius: 5px;
    }

    strong {
        padding: 1rem;
    }
}

.acf-block-panel {
    display: none;
}