

body{

    @media(max-width:1200px){
        padding-top:72px;
    }
    padding-top: 94px;
    margin:0;

}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active   {
    caret-color: auto;
    -webkit-text-fill-color: var(--MW-form-h4);
    -webkit-box-shadow: 0 0 0 30px var(--MW-form-background) inset !important;
}
@import "variables/navigation";
@import "variables/colors";


@import "pages/front_page";
@import "pages/every_page";
@import "pages/archive_portfolio";
@import "pages/archive_blog";
@import "pages/single_blog";
@import "pages/not_found";
@import "pages/templates/template-about-us";
@import "pages/templates/template-contact";
@import "pages/templates/template-faq";
@import "pages/templates/template-faq-accordion";


@import "elements/blocks/first_button";

@import "elements/menu/navigation";
@import "elements/footer";