$gray: rgb(238, 238, 238);
$light-gray: rgb(246, 247, 247);
$blue: rgb(174, 198, 222);
$dark-blue: rgb(13, 47, 93);
$red: rgb(196, 16, 58);
$white: rgb(255, 255, 255);
$font: #404040;
$red-ul: #c4103a;
$blue_header: rgb(16, 52, 125);
